{% extends "base.html" %} 
{% block content %}
    <h1>Recent Hands</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Player</th>
            <th scope="col">Dealer</th>
            <th scope="col">Result</th>
            <th scope="col">Player Balance</th>
            <th scope="col">Pot</th>
            
        </thead>
        <tbody>
        {% for hand in hands %}
            <tr>
                <td>{{hand.id}}</td>
                <td>{{hand.date}}</td>
                <td><h1>{{hand.player_hand}}</h1></td>
                <td><h1>{{hand.dealer_hand}}</h1></td>
            {% if hand.result == "Win" %}
                <td class="table-success"><h4>{{hand.result}}</h4></td>
            {% elif hand.result == "Loss" %}
                <td class="table-danger"><h4>{{hand.result}}</h4></td>
            {% elif hand.result == "Draw" %}
                <td class="table-warning"><h4>{{hand.result}}</h4></td>
            {% endif %}
                <td><h4>${{hand.player_bal}}</h4></td>
                <td><h4>${{hand.hand_pot}}</h4></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}